<div>
    <body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form novalidate ng-submit="tryToRegister()">
            <div class="row g-3">
                <div class="col-sm-2">
                    <input type="text"  class="form-control" placeholder="Username" ng-model="userreg.username">
                </div>
                <div class="col-sm-2">
                    <input type="password" class="form-control" placeholder="Password" ng-model="userreg.password">
                </div>
                <div class="col-sm-2">
                    <input type ="password" class="form-control" placeholder="Confirmation" ng-model="userreg.confirmation">
                </div>
                <div class="col-last">
                    <button type="submit" class="btn btn-primary">Регистрация</button>
                </div>
            </div>
        </form>
        <!--        <form novalidate ng-submit="register()">-->
        <!--            <h1 class="h3 mb-3 fw-normal">Please register</h1>-->

        <!--            <div class="form-floating">-->
        <!--                <input type="text" class="form-control" ng-model="newUser.username" id="floatingInput" placeholder="Login">-->
        <!--                <label for="floatingInput">Login</label>-->
        <!--            </div>-->
        <!--            <div class="form-floating">-->
        <!--                <input type="password" class="form-control" ng-model="newUser.password" id="floatingPassword" placeholder="Password">-->
        <!--                <label for="floatingPassword">Password</label>-->
        <!--            </div>-->
        <!--            <div class="form-floating">-->
        <!--                <input type="password" class="form-control" ng-model="newUser.confirmation" id="floatingPasswordConfirmation" placeholder="Confirm Password">-->
        <!--                <label for="floatingPassword">Confirm</label>-->
        <!--            </div>-->

        <!--            <button class="w-100 btn btn-lg btn-primary" type="submit">Registration</button>-->
        <!--        </form>-->
    </main>
    </body>




    <!--    <form class="align-middle" ng-submit="register()">-->
    <!--        <div class="input-group input-group-sm" style="padding: 4px;">-->
    <!--            <div>-->
    <!--                <input id="navLoginField" class="form-control" placeholder="Login" ng-model="registration.username" type="text"-->
    <!--                     aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">-->
    <!--            </div>-->
    <!--            <div>-->
    <!--                <input id="navPasswordField" class="form-control" placeholder="Password" ng-model="registration.password" type="password"-->
    <!--                    aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">-->
    <!--            </div>-->
    <!--            <div>-->
    <!--                <input id="navConfirmationField" class="form-control" placeholder="Confirm Password" ng-model="registration.confirmation" type="password"-->
    <!--                    aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">-->
    <!--            </div>-->

    <!--            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"-->
    <!--                    style="margin-left: 10px;" type="submit">Войти-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </form>-->
</div>
