<div>
    <h4>Фильтр списка продуктов</h4>
    <form novalidate ng-submit="loadProducts()">
        <div class="row g-3">
            <div class="col-sm-2">
                <input type="number" value="0" class="form-control" placeholder="От" ng-model="productListFilter.min">
            </div>
            <div class="col-sm-2">
                <input type="number" value="100000" class="form-control" placeholder="До" ng-model="productListFilter.max">
            </div>
            <div class="col-sm-5">
                <input type ="text" class="form-control" placeholder="Название" ng-model="productListFilter.titleLike">
            </div>
            <div class="col-last">
                <button type="submit" class="btn btn-primary">Применить</button>
            </div>
        </div>
    </form>
    <p></p>
    <h3>Список товаров</h3>
    <p></p>
    <table class="table table-hover" cellpadding="0" , cellspacing="0">
        <tr>
            <td>Категория</td>
            <td>Название</td>
            <td>Стоимость</td>
            <td>Удалить</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsPage">
            <td>{{p.category}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="addProductToCart(p.id)">В Корзину</button>
                <!-- повесили листенер на кнопку "Исключить". class="btn btn-danger" применяет цвет кнопки-->
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" ng-repeat="pageNumber in pagesList">
                <button class="page-link" ng-click="loadProducts(pageNumber)">{{pageNumber}}</button>
            </li>
        </ul>
    </nav>

    <!--    <div>-->
<!--        <nav aria-label="Page navigation example">-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="#" aria-label="<<">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="#" aria-label=">>">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
</div>